@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body {
    position: relative;
    margin: 0;
    padding: 0;
}


.body-content {
    position: relative;
    min-height: 100vh; 
    background: linear-gradient(180deg, rgba(235,249,251,1) 5%, rgba(158,202,212,1) 17%, rgba(112,202,226,1) 31%, rgba(205,245,240,1) 52%, rgba(181,217,176,1) 66%, rgba(18,74,50,1) 100%);
    background-size: cover;
    background-position: center;
    padding-bottom: 20px; 
    z-index: 1; 
}

    .body-content::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/Image/tree4.png') no-repeat bottom left;
        background-size: 40% auto;
        opacity: 0.7; 
        z-index: -1;
    }


.distance-info p {
    margin: 5px 0; 
}

.distance-info strong {
    display: inline-block;
    width: 120px;
}

.distance-info span {
    font-weight: normal;
}

.form-container {
    width: 80%; 
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box;
    background-color: rgba(182, 212, 179, 0.7); 
    border: 1px solid transparent; 
    border-radius: 8px; 
    padding-top: 10px;
}


#categoryDetailsTable {
    margin-top: 20px;
    border: 1px solid black; 
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
    border-collapse: separate; 
    overflow: hidden;
}

    #categoryDetailsTable th, #categoryDetailsTable td {
        border: 1px solid black; 
        padding: 8px; 
    }

    #categoryDetailsTable th {
        background-color: #f8f9fa; 
        text-align: center;
    }


header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'Istok Web';
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 30px;
}

:root {
    --default-color: #212121;
    --grey-color: #efefef;
    --main-color: #ff0000;
}

#progress_bar {
    display: table;
    width: 100%;
    padding: 15px 15px 0;
    table-layout: fixed;
    counter-reset: step;
    margin-top: 20px; 
    margin-bottom: 20px;
}

    #progress_bar li {
        list-style-type: none;
        display: table-cell;
        width: 20%;
        font-size: 16px;
        position: relative;
        text-align: center;
    }

        #progress_bar li:before {
            width: 50px;
            height: 50px;
            color: var(--default-color);
            content: counter(step);
            counter-increment: step;
            line-height: 50px;
            font-size: 18px;
            border: 1px solid var(--grey-color);
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: #fff;
        }

        #progress_bar li:after {
            width: 100%;
            height: 10px;
            content: '';
            position: absolute;
            background-color: #fff;
            top: 25px;
            left: -50%;
            z-index: -1;
        }

        #progress_bar li:first-child:after {
            content: none;
        }

        #progress_bar li.step-done {
            color: var(--main-color);
        }

            #progress_bar li.step-done:before {
                border-color: var(--main-color);
                background-color: var(--main-color);
                color: #fff;
                content: "\f00c"; 
                font-family: "FontAwesome";
            }

            #progress_bar li.step-done + li:after {
                background-color: var(--main-color);
            }

        #progress_bar li.step-active {
            color: var(--main-color);
        }

            #progress_bar li.step-active:before {
                border-color: var(--main-color);
                color: var(--main-color);
                font-weight: 700;
            }

.text-uppercase {
    text-transform: uppercase; 
}

.slide-page {
    
    transition: all 0.6s ease;

}

    .slide-page.active {
        display: block;
    }

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: right;
}

    button.prev-btn {
        background-color: #f44336;
    }

    button.submit-btn {
        background-color: #4CAF50;
    }

    button.finish-btn {
        background-color: #2196F3;
    }

.container .slide-page {
    width: 100%;
    transition: all 0.6s ease;
    overflow: hidden;
}

    .container .slide-page .form-group {
        margin-bottom: 15px;
    }

        .container .slide-page .form-group label {
            font-weight: bold;
        }

    .container .slide-page button {
        padding: 10px 20px;
        border: none;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

        .container .slide-page button.prev-1,
        .container .slide-page button.prev-2 {
            background-color: #f44336;
        }

        .container .slide-page button.next-1,
        .container .slide-page button.submit {
            background-color: #4CAF50;
        }


