body {
    background-color: #bfdae2;
    justify-content: center;
    align-items: center;
    margin: 0;
    display:flex;
}

.container {
    max-width: 1750px;
    width: 100%;
    padding: 0 15px;
    margin-top: 60px;
    padding-bottom: 50px;
}

.card {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.form-control {
    border-radius: 0.5rem;
}

.btn {
    border-radius: 0.5rem;
    background-color: #ff6219;
    border: none;
}

    .btn:hover {
        background-color: #e55315;
    }

.d-flex.align-items-center.mb-3.pb-1 i {
    margin-right: 0.5rem;
}

.d-flex.align-items-center.mb-3.pb-1 .h1 {
    font-weight: bold;
    margin-left: -10px;
}

.form-outline {
    position: relative;
    margin-bottom: 1.5rem;
}

    .form-outline input {
        width: 100%;
        height: 50px;
        padding: 0.75rem 1rem;
        border: 1px solid #ced4da;
        border-radius: 0.5rem;
        font-size: 1rem;
    }

    .form-outline label {
        position: absolute;
        top: -0.5rem;
        left: 1rem;
        background: #fff;
        padding: 0 0.25rem;
        color: #495057;
        font-size: 0.875rem;
        transition: 0.2s ease all;
    }

    .form-outline input:focus {
        border-color: #ff6219;
        box-shadow: 0 0 0 0.2rem rgba(255, 98, 25, 0.25);
    }

        .form-outline input:focus + label {
            top: -1.5rem;
            left: 0.75rem;
            font-size: 0.75rem;
            color: #ff6219;
        }

.role-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.role-box {
    width: 30%;
    padding: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
}

    .role-box i {
        margin-right: 0.5rem;
        color: #ff6219;
    }

    .role-box:hover {
        border-color: green;
    }

.role-details {
    display: none;
}

    .role-details.flex-layout {
        display: flex;
        flex-wrap: wrap;
    }

.section-label {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 20px
}

.guidelines {
    font-size: 0.875rem;
    color: #6c757d;
    margin-top: 10px;
}

.section {
    width: 100%;
}

@media (max-width: 600px) {
    .card {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
    }

    .image-side {
        border-radius: 1rem 1rem 0 0;
    }

    .card-body {
        padding: 1rem;
    }

    .form-control {
        padding: 0.5rem;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .role-selection {
        flex-direction: column;
    }

    .role-box {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

